.icono{
  margin: 0px 0px 0px 0px;

}

#basic-addon{
  font-size: 25px;

}
.registroURL {
    color: #031A86;
    font: 300 13px 'telefonica_exli',sans-serif;
    text-align: center;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin-top: 15px;
}
body{
    background: repeating-linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 50px,
      rgba(0, 0, 0, 0) 50px,
      #9497BD 100px,
      #FFFFFF 100px
    );
}
